@charset "UTF-8";

@keyframes gira {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

body {
    background: rgb(107, 107, 241);
    font: normal 1.5em Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 80vw;
    max-width: 600px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.350);
}

input[type="number"] {
    width: 15%;
    margin: 10px auto 0;
    font-size: inherit;
    margin-top: -10px;
  }
  
img {
    width: 50vw;
    max-width: 250px;
    height: auto;
    padding-top: 5%;
    /* animation: gira 10s linear infinite; */
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}
